@charset "UTF-8";

#side_content{
  padding-top: 5px;
  overflow: auto;
}

#img_title{
  color: #295651;
  /* color: #499360; */
}
#img_dcription{
  color: #232941;
}

#main_img{
  /* position: absolute; */
  max-height: 100%;
  max-width: 100%;
  vertical-align: middle;

  
} 

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 30%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #232941;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  .prev{
    left: 0;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }