@charset "UTF-8";

#wrapper{
    
}

#top{
    /* max-height: 426.66px; */
    /* border: 1px solid black; */
    /* overflow: hidden; */
    
}

#bottom{
    /* max-height: 213.33px; */
    /* border: 1px solid black;     */
    /* overflow: hidden; */
}

#side_content{
    height: 142.22px;
    border: 1px solid black;
    overflow: hidden;
    
}

#main_content{
    height: 284.44px;
    border: 1px solid black;
    overflow: hidden;

}

#logo{
    height: 71.11px;
    /* display: none;       */
    border: 1px solid black;
    overflow: hidden;

}

#navi{
    height: 142.22px;   
    border: 1px solid black; 
    overflow: hidden;

}


/* pc환경 */
/* @media screen and (min-width: 768px){
    #top{
        max-width: 1366px;
        min-width : 768px;
        max-height: 610px; 
        min-height: 341.33px;
       
    }

    #bottom{
        max-width: 1366px;
        max-height: 305px; 
        min-height: 170.66px;
    }

    #side_content{
        max-height: 610px;
        /* min-height: 341.32px; */
        max-width: 455.33px;
        min-width: 256px;
        overflow: hidden;
        
    }
    
    #main_content{
        max-height: 610px;
        /* min-height: 341.32px; */
        max-width: 910.66px;        
        min-width: 512px;
        overflow: hidden;
    
    }
    
    #logo{
        max-height: 305px;
        min-height: 170.66px;
        max-width: 455.33px;
        min-width: 256px;
        overflow: hidden;
        /* display: none;       */
    
    }
    
    #navi{
        max-height: 305px;  
        min-height: 170.66px; 
        max-width: 910.66px;        
        min-width: 512px;
        overflow: hidden;
    
    } */



}