@charset "UTF-8";

#wrapper{
    
}

#top{
    height: 426.66px;  
    
}

#bottom{
    height: 213.33px;    
}

#side_content{
    height: 142.22px;
    
}

#main_content{
    height: 284.44px;    

}

#logo{
    height: 71.11px;
    display: none;      

}

#navi{
    height: 142.22px;    

}