@charset "UTF-8";

/* 초기화 */
* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    font-weight: normal;
    line-height: 1.45em;
    color: #97baa4;
    box-sizing: border-box;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1.2em;
}

a {
    text-decoration: none;

}

a:visited {
    text-decoration: none;
}

img {
    border: 0;
}

li {
    list-style: none;
}

#wrapper {
    position: relative;
    height: 640px;
    overflow: hidden;
}

#top {
    height: 568.89px;
    /* max-height: 426.66px; */
    /* border: 1px solid black; */
    overflow: hidden;

}

#bottom {
    height: 71.11px;
    /* position: absolute; */
    /* bottom: 5px; */
    /* right: 5px; */
    /* overflow: hidden; */
}

#side_content {
    height: 126.42px;
    /* border: 1px solid black; */
    overflow: hidden;
    position: relative;
    text-align: center;
    line-height: 126.42px;

}

#main_content {
    height: 442.47px;
    border-top: 1px solid #232941;
    overflow: hidden;
    position: relative;
    text-align: center;
    line-height: 442.47px;

}

#logo-area {
    /* border: 1px solid black; */
    height: 35.55px;
    position: relative;
    text-align: right;
    background-color: #295651;

}

#logo h5{
    padding: 3px 10px;
    font-weight: bold;
    
}

#nav {
    height: 35.55px;
    /* border: 1px solid black; */
    position: relative;
    /* float: right; */
    /* position: absolute;
    bottom: 5px;
    right: 5px; */
}


.nav-bar {
    background-color: rgb(41,86,81, 0.96);
    height: 100%;        
    text-align: right;
}

.nav-bar a{
    display: inline-block;
    height: 100%;
    text-align: center;
    padding: 3px 10px;
    font-weight: bold;
}

/* Change the color of links on hover */
.nav-bar a:hover {
    background-color: #232941;
}

.nav-bar a:active {
    background-color: #295651;
}






/* pc환경 */
@media screen and (min-width: 768px) {
    #top {
        /* max-width: 1366px;
        min-width : 768px;
        max-height: 610px; 
        min-height: 341.33px; */

    }

    #bottom {
        /* max-width: 1366px;
        max-height: 305px; 
        min-height: 170.66px; */
    }

    #side_content {
        /* max-height: 610px; */
        /* min-height: 341.32px; */
        /* max-width: 455.33px;
        min-width: 256px;
        overflow: hidden; */

    }

    #main_content {
        /* max-height: 610px;
        /* min-height: 341.32px; */
        /* max-width: 910.66px;        
        min-width: 512px;
        overflow: hidden; */

    }

    #logo {
        /* max-height: 305px;
        min-height: 170.66px;
        max-width: 455.33px;
        min-width: 256px;
        overflow: hidden; */
        /* display: none;       */

    }

    #navi {
        /* max-height: 305px;  
        min-height: 170.66px; 
        max-width: 910.66px;        
        min-width: 512px;
        overflow: hidden; */

    }



}