@charset "UTF-8";

#side_content{
    height: 442.47px;
}

#main_content{
    padding-top: 15px;
    height: 126.48px;
}

#intro {
        
    font-size: 1.2em;
    padding: 20%;

}

#main_content h4{
    font-size: 2em;
    font-weight: 600;
    color: #295651;
    user-select: none;
}

#main_content h5{
    font-size: 1.5em;
    color: rgb(41,86,81, 0.96);
    user-select: none;
}




/* pc환경 */
@media screen and (min-width: 1024px) {

    #side_content{
        height: 480px;
    }
    
    #main_content{
        padding-top: initial;
        height: 480px;
    }

    #main_content h4{
        position: absolute;
        left: 15px;
        top: 220px;
        font-size: 4.5em;
        font-weight: 500;
    }

    #main_content h5{
        position: absolute;
        font-size: 2.3em;
        font-weight: 500;
        top:320px;
        left: 15px;
        
    }

    #intro {
        padding: initial;
        position: absolute;
        bottom: 37.5px;
        right: 15px;
        font-size: 1.5em;
        padding-left: 120px;

    }

}